<div class="text-xl margin-s red">{{ title }}</div>
<div class="float-left width-l margin-s height-xxl">
  <a href="{{ dom.link }}"><img src="{{ dom.image_path }}" /></a>
  <div class="padding-xs">
    <div class="bold green"><a href="{{ dom.link }}">{{ dom.label }}</a></div>
    <div class="">{{ dom.desc }}</div>
  </div>
</div>
<div class="float-left width-l margin-s height-xxl">
  <a href="{{ cochannel.link }}"><img src="{{ cochannel.image_path }}" /></a>
  <div class="padding-xs">
    <div class="bold green"><a href="{{ cochannel.link }}">{{ cochannel.label }}</a></div>
    <div class="">{{ cochannel.desc }}</div>
   </div>
</div>
<div class="float-left width-l margin-s height-xxl">
  <a href="{{ omp.link }}"><img src="{{ omp.image_path }}" /></a>
  <div class="padding-xs">
    <div class="bold green"><a href="{{ omp.link }}">{{ omp.label }}</a></div>
    <div class="">{{ omp.desc }}</div>
  </div>
</div>
